body{
  background-image: url(images/Coffee.jpg);
    background-repeat: no-repeat;

    background-size:cover;
    background-position: top;
    background-attachment: scroll;

    background-size: cover;
  }
  
  .tablink {
    background-color: #555555a2;
    color: rgb(0, 0, 0);
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #908b8b99;
  }
  
  .tabcontent {
    color: white;
    display: none;
    padding: 60px 10px;
    height: 90%;
  }
  
  #Portfolio {background-color: rgba(0, 0, 0, 0.342);}
  #Services {background-color: rgba(0, 0, 0, 0.342);}
  #About-Us {background-color: rgba(0, 0, 0, 0.342);}
  #Support {background-color: rgba(0, 0, 0, 0.342);}

  h1 {color: rgb(255, 255, 255)}
  
  .header{
    text-align: center;
    }
  
 /* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 } */